<div class="app-container">
    <mat-toolbar color="primary">
      <span>Meu Aplicativo</span>
      <span class="example-spacer"></span>
  
      <!-- Botões de navegação -->
      <button mat-button [routerLink]="['/home']">Visão Geral</button>
      <button mat-button [routerLink]="['/relatorios']">Relatórios</button>
      <button mat-button [routerLink]="['/limites']">Limites</button>
      <!-- Ícones com navegação -->
      <button mat-icon-button [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
      </button>
      <!-- Menu de Configurações com Submenu -->
      <button mat-icon-button [matMenuTriggerFor]="configMenu">
        <mat-icon>settings</mat-icon>
      </button>
  
       <!-- Definindo o Menu de Configurações -->
       <mat-menu #configMenu="matMenu">
        <button mat-menu-item [routerLink]="['/categorias']">
          <mat-icon>category</mat-icon>
          <span>Categorias</span>
        </button>
        <button mat-menu-item [routerLink]="['/contas']">
          <mat-icon>account_balance</mat-icon>
          <span>Contas</span>
        </button>
        <button mat-menu-item [routerLink]="['/cartoes']">
          <mat-icon>credit_card</mat-icon>
          <span>Cartões</span>
        </button>
        <button mat-menu-item [routerLink]="['/tags']">
          <mat-icon>label</mat-icon>
          <span>Tags</span>
        </button>
      </mat-menu>
  
    </mat-toolbar>
  
    <!-- Roteamento de conteúdo -->
    <router-outlet></router-outlet>
  </div>
  
